# Server
PORT=8000

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/subtitlesearcher

# JWT (use a long random string in production)
JWT_SECRET=4m/mydzY2pS7VbBGTrw9eSB8yMuxi7lZ4r66SjPynkPMduISCF8uOxgzIjW4hZfXT/9qG3r1MZiQgxp1oI3zOA==

# OpenSubtitles — https://www.opensubtitles.com/en/consumers
OS_API_KEY=D4bJfDlqlWBSTDt0a6Mqq4HiZHcF7VKx
OS_USERNAME=Stark8271
OS_PASSWORD=Stark123654789
OS_USER_AGENT=MySubtitleBackend v1.0