# OpenSubtitles Credentials
# https://www.opensubtitles.com/en/consumers/154047
OS_API_KEY=your_api_key_here
OS_USERNAME=your_username_here
OS_PASSWORD=your_password_here
OS_USER_AGENT=MySubtitleBackend v1.0